{% extends 'base.html' %}

{% block title %}
title
{% endblock %}

{% block body %}
<div class="row">
    
<div class="col-4 ">
  <form method = "POST" action="/forecast">
      <div class="container alert alert-secondary {{param_settings_visibility}} ">
        <div class="form-group alert alert-info">
            <b>Расположение</b>
            
              <div class="input-group mt-3">
                <div class="input-group-prepend ">
                    <div class="input-group-text  ">
                        <label for="city-select">Город</label>
                        <input type="checkbox" class="form-check-input ms-2" checked name="city-check">
                      </div>
                </div>
                <select class="custom-select form-control " name="city-select" id = 'city-select' onchange="city_change_event()" onclick="city_change_event()" onload="city_change_event()">
                  <option> - Не выбран - </option>
                  {% for item in city_list%}
                  <option value="{{item}}" {% if item == city %} selected {%endif%}>{{item}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="input-group mt-3">
                  <div class="input-group-prepend">
                      <div class="input-group-text">
                        <label for="okrug-select">Округ</label>
                        <input type="checkbox"  class="form-check-input ms-2" name="okrug-check"  {% if checkbox['okrug'] %} checked {%endif%}>
                      </div>
                </div>
                <select class="custom-select form-control " name="okrug-select" id ="okrug-select"  onchange="okrug_change_event()" onclick="okrug_change_event()"  onloadeddata="city_change_event()">
                    <option> - Не выбран - </option>
                    {% for item in okrug_list%}
                    <option value="{{item}}" {% if item == okrug %} selected {%endif%}>{{item}}</option>
                    {% endfor %}
                </select>
              </div>

              <div class="input-group mt-3">
                  <div class="input-group-prepend">
                      <div class="input-group-text">
                        <label for="raion-select">Район</label>
                        <input type="checkbox"  class="form-check-input ms-2" name="raion-check" {% if checkbox['raion'] %} checked {%endif%}>
                      </div>
                </div>
                <select class="custom-select form-control " name="raion-select" id="raion-select">
                  <option > - Не выбран - </option>
                  {% for item in raion_list%}
                  <option value="{{item}}" {% if item == raion %} selected {%endif%}>{{item}}</option>
                  {% endfor %}
                </select>
              </div>

          </div> 
          <div class="form-group alert alert-info ">
            <label for="class-select"><b>Класс жилья</b></label>
            <input type="checkbox"  class="form-check-input ms-2" name="class-check" {% if checkbox['class'] %} checked {%endif%}>
            <select class="form-control mt-3" name="class-select">
                <option> - Не выбран - </option>
                {% for item in cls_name_list%}
                <option value="{{item}}" {% if item == class_name %} selected {%endif%}>{{item}}</option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group alert alert-info">
            <label for="commissioning-select"><b>Дата сдачи</b></label>
            <input name="commissioning-select" class="form-control mt-3" type="date" value = "{{commiss_dt}}"/>
          </div>

          <div class="form-group  alert alert-info mb-0">
            <label for="current-price-input"><b>Текущая цена</b></label>
            <div class="input-group my-3">
                <input name="current-price-input" class="form-control " type="text" value = "{{current_price}}" />
                <div class="input-group-append">
                    <span class="input-group-text">руб/м2</span>
                  </div>
            </div>
            <label for="history-check"><b>Отобразить историю</b></label>
            <input type="checkbox"  class="form-check-input ms-2" name="history-check" {% if history_allow and checkbox['history'] %} checked {%endif%}  {% if not history_allow %} disabled {%endif%}>
          </div>
        
        </div>
        
        <div class="alert alert-danger {{alert_visibility}}" role="alert">
          Что-то не так!
        </div>
        
        <div class="container alert alert-secondary">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Период</span>
            </div>
            <input type="text" class="form-control" name="period-input" value = "{{forecast_period}}" >
            <div class="input-group-append">
              <span class="input-group-text">мес.</span>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-primary btn-lg" type="submit">Прогноз</button>
          </div>
        </div>
  </form>


</div>
<div class="col">
  <div class="container {{plot_visibility}}">
    <div class="alert alert-secondary">
      <img src="data:image/png;base64, {{ plot_url }}" class="img-fluid">
    </div>
    <div class="alert alert-secondary">
      <div class="alert alert-info">
        Расположение: <b> {{ city }}{% if checkbox['okrug']  %}, {{ okrug }} {%endif%}{% if checkbox['raion']  %}, {{ raion }} {%endif%} </b><br>
        {% if checkbox['class']  %}  Класс: <b>{{ class_name}}</b><br> {%endif%}
        Дата сдачи: <b>{{commiss_dt}}</b><br>
        Текущая цена: <b> {{current_price}}</b> руб/м2<br>
        Период прогноза: <b>{{forecast_period}}</b> мес.<br>
      </div>
      <div class="alert alert-info mb-0">
          Доходность: <b>{{percent}}%</b> за <b>{{forecast_period}}</b> мес.
      </div>
      <div class="alert alert-warning  mt-3 mb-0 {{high_price_alert_visibility}}">
        <b>Текущая цена выше рынка!</b>
    </div>
    </div>
    <!-- <div class="alert alert-secondary">{{out_df}}</div> -->
  </div>
</div>

</div>
{% endblock %}



{% block script %}
function fill_all_raions (raions_data) {
  var raion_select = document.getElementById("raion-select"); 
  j = 1
  for (var i=0; i < raions_data.length; i++)
    {

      for (var k = 0; k < raions_data[i].length; k++){
        var option = new Option(raions_data[i][k],raions_data[i][k])
        raion_select.options[j] =option ;
        j++
        
      }
    }
}

function city_change_event () {
  var city_select = document.getElementById("city-select"); 
  var okrug_select = document.getElementById("okrug-select"); 
  var raion_select = document.getElementById("raion-select"); 

  var x = fetch('{{ url_for('static',filename = 'json/regions.json')}}')
                .then(function (response) {
                  return response.json();
                })
                .then(function (data) {
                  if (city_select.selectedIndex == 0) {
                    okrug_select.options.length = 0
                    okrug_select.options[0] = new Option(" - Не выбран - "," - Не выбран - ");
                    raion_select.options.length = 0
                    raion_select.options[0] = new Option(" - Не выбран - "," - Не выбран - ");
                    return ;
                  }
                  var selected_data = data[city_select.options[city_select.selectedIndex].value]
                  var okrug_list = Object.keys(selected_data);
                  var raions_data = Object.values(selected_data);
                  okrug_select.options.length = 0
                  okrug_select.options[0] = new Option(" - Не выбран - "," - Не выбран - ");
                  for (var i=0; i < okrug_list.length; i++)
                  {
                    okrug_select.options[i+1] = new Option(okrug_list[i],okrug_list[i]);
                  }

                  raion_select.options.length = 0
                  raion_select.options[0] = new Option(" - Не выбран - "," - Не выбран - ");
                  
                  if ((raions_data.length>0) && (raions_data[0].length>0 )){
                    fill_all_raions(raions_data)
                      
                  }
                })
}

function okrug_change_event() {
  var city_select = document.getElementById("city-select"); 
  var okrug_select = document.getElementById("okrug-select"); 
  var raion_select = document.getElementById("raion-select"); 

  var x = fetch('{{ url_for('static',filename = 'json/regions.json')}}')
                .then(function (response) {
                  return response.json();
                })
                .then(function (data) {
                  var city = city_select.options[city_select.selectedIndex].value
                  var okrug = okrug_select.options[okrug_select.selectedIndex].value
                  var selected_data = data[city]
                  var raions_data = Object.values(selected_data);
                  
                  if (okrug_select.selectedIndex == 0) {
                    fill_all_raions(raions_data)
                    return ;
                  }
                  
                  raion_select.options.length = 0
                  raion_select.options[0] = new Option(" - Не выбран - "," - Не выбран - ");
                  
                  if (raions_data[0].length>0 ){
                    raions_list = selected_data[okrug]

                    for (var i=0; i < raions_list.length; i++)
                    {
                      raion_select.options[i+1] = new Option(raions_list[i],raions_list[i]);
                    }  
                  }
                  
                })
}
{%endblock%}

