{% extends 'base.html' %}

{% block title %}
title
{% endblock %}

{% block body %}
<div class="row">

  <div class="col-5">
    <form method="POST" action="/housing_complex">
    <div class="container alert alert-secondary">
        <div class="form-row align-items-center">
          <div class="col-auto">
            <div class="input-group mb-3">
              <div class="input-group-prepend ">
                <div class="input-group-text  ">
                  <label for="city-select">Субъект</label>
                </div>
              </div>
              <select class="custom-select form-control " name="city-select" id='city-select'>
                <option> - Не выбран - </option>
                {% for item in city_list%}
                <option value="{{item}}" {% if item==city %} selected {%endif%}>{{item}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="input-group my-0">
              <div class="input-group-prepend">
                <div class="input-group-text">Название ЖК</div>
              </div>
              <input type="text" class="form-control" name="hc_name" placeholder="Название ЖК" value="{{hc_name}}">
              <div class="input-group-append">
                <button type="submit" class="btn btn-primary ">Найти</button>
              </div>
            </div>
          </div>
        </div>
        
        
      </div>
      <div class="container alert alert-secondary  {{candidates_visibility}}">
        <form action="/housing_complex" method="post">
          <b>Найденные ЖК</b>
          <select name="hc-select" class="list-group w-100 my-3" style="overflow-y: auto;" size="5">
            {% for item in candidates_list %}
            <option value="{{item.name}}" >{{ item['description'] }}</option>
            {% endfor %}
          </select>
          <div class="container text-center">
            <button type="submit" class="btn btn-primary ">Показать</button>
          </div>
        </form>
      </div>
    </form>
      
    <div class="container alert alert-secondary   {{obj_info_visibility}}">

      <ul class="list-group">
          <li class="list-group-item">
              Субъект: <b>{{city}}</b> 
              <br>
              Округ: <b>{{okrug}}</b> 
              <br>
              Район: <b>{{raion}}</b> 
          </li>
          <li class="list-group-item">
              ЖК: <b>{{housing_complex}}</b>
          </li>
          <li class="list-group-item">
              Класс жилья: <b>{{class_name}}</b>
          </li>
          <li class="list-group-item">
              Дата сдачи: <b>{{commiss_dt}}</b>
          </li>
        </ul>

        <ul class="list-group mt-2">
          <li class="list-group-item list-group-item-success">
              Последние продажи: 
          </li>
          <li class="list-group-item ">

              Ср. цена : <b>{{current_price}} </b>руб/м2
  
          </li>
          <li class="list-group-item">
              Отчетная дата: <b>{{last_report_dt}}</b>
          </li>
        </ul>
        <form class="container my-3 text-center" action="/forecast">    
          <input type="submit" class="btn btn-primary btn-lg btn-block" value = 'Прогнозировать'>
      </form>
    </div>


    <div class="alert alert-danger {{alert_visibility}}" role="alert">
      Что-то не так!
    </div>




  </div>
  <div class="col">
    <div class="cotaoner alert alert-secondary  {{plot_visibility}}">
      <img src="data:image/png;base64, {{ plot_url }}" class="img-fluid">
    </div>
  </div>

</div>
{% endblock %}